// Complete and rename this file to secrets.xcconfig

// Some of the values are used by a build pre-action to generate an Apple
// Music API Token, which is kinda fundamental to the functioning of the app.

// The Developer Team ID under which the Apple Music Key was created.
APP_STORE_CONNECT_TEAM_ID =

// The Apple Music Key ID and an base64'd key.
APPLE_MUSIC_KEY_ID =
APPLE_MUSIC_PRIVATE_KEY =
