name: Deploy to TestFlight

on:
  push:
    branches:
      - develop
      - beta
      - release
    
jobs:
  deploy-to-testflight:
    runs-on: macos-11.0
    
    steps:
      - name: Checkout project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache bundler gems
        uses: actions/cache@v2
        with:
          path: ./vendor
          key: ${{ hashFiles('Gemfile.lock') }}

      - name: Install bundler dependencies
        run: bundle install
        
      - name: Import signing certificate
        env:
          APP_STORE_SIGNING_CERTIFICATE: ${{ secrets.APP_STORE_SIGNING_CERTIFICATE }}
          APP_STORE_SIGNING_CERTIFICATE_PASSWORD: ${{ secrets.APP_STORE_SIGNING_CERTIFICATE_PASSWORD }}
        run: |
          exec .github/scripts/import-certificate.sh
          
      - name: Import provisioning profiles
        env:
          PROVISIONING_PROFILE: ${{ secrets.PROVISIONING_PROFILE_BETA }}
        run: |
          exec .github/scripts/import-profile.sh
          
      - name: Build and deploy
        env:
          DEVELOPER_DIR: /Applications/Xcode_12.2.app/Contents/Developer
          APPLE_TEAM_ID: ${{ secrets.APP_STORE_CONNECT_TEAM_ID }}
          FASTLANE_USER: ${{ secrets.APP_STORE_CONNECT_USERNAME }}
          FASTLANE_PASSWORD: ${{ secrets.APP_STORE_CONNECT_PASSWORD }}
        run: |
          exec ./build.sh
